/* Start Team Work */
.hossamDiv{
    display: flex;
    justify-content: space-around;
}
.card{
    /* margin: 0 auto; */
    box-shadow: 10px 10px 15px grey;
    border: 3px solid black;
}
.card img{
    filter: grayscale(100%);
    transition: .5s;
}
.card img:hover{
    transform: scale(1.1);
    filter: grayscale(0);
}
#hossam{
    text-align: center;
}
/* End Team Work */

/* Start Carousel */
.carousel-inner{
    height: 100vh;
}
.carousel-inner .carousel-item img{
    height: 100vh;
}
/* End Carousel */